
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.table {
    padding-top:30px;
}
.item {
  width:100%;
  max-width:100%
}
img {
    max-width:100%;
}

.tickbox {
  font-size: 200%;
}